.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
*.tfvars
crash.log
*.log

ansible/*.vault
ansible/*.pem
ansible/.ssh/
ansible/inventory.ini

~/.ssh/
*.pem
id_rsa
id_rsa.pub

.vscode/
.idea/
__pycache__/
